# idea ignore
.idea/
*.ipr
*.iml
*.iws

biligo/
.vscode/

*.swp

# temp ignore
*.log
*.cache
*.diff
*.exe
*.exe~
*.patch
*.tmp
*debug.test

# system ignore
.DS_Store
Thumbs.db

# project
*.cert
*.key
.test
iprepo.txt

app/*/*/cmd/cmd
app/*/*/*/cmd/cmd
app/*/*/cmd/debug
app/*/*/*/cmd/debug
app/tool/kratos/kratos

bazel-bin
bazel-genfiles
bazel-go-common
bazel-out
bazel-testlogs
bazel-test
_output

# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# Binaries for programs and plugins
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Code coverage profiles and other test artifacts
*.out
coverage.*
*.coverprofile
profile.cov

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work
go.work.sum

# env file
.env

# Editor/IDE
# .idea/
# .vscode/